certifi==2020.6.20
enum-compat==0.0.3
future==0.18.2
install-jdk==0.1.0
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1596233945180/work
opencv-python==4.4.0.42
packaging==20.4
Pillow==7.2.0
psutil==5.7.2
pyparsing==2.4.7
six==1.15.0
torch==1.6.0
torch-model-archiver==0.2.0
torchserve==0.2.0
torchvision==0.7.0
wincertstore==0.2
